TELEGRAM_TOKEN=

GIGACHAT_CLIENT_ID=
GIGACHAT_SCOPE=
GIGACHAT_AUTHORIZATION_KEY=

SALUTESPEECH_CLIENT_ID=
SALUTESPEECH_SCOPE=
SALUTESPEECH_AUTHORIZATION_KEY=

DBHOST=
DBPORT=
DBUSER=
DBPASSWORD=
DBNAME=